#root {
  margin: 0;
  padding: 0;
  background-color: #121211;
  color: azure;
}

.animatePhrase1 {
  text-shadow: 0 0 5px #929090;
}

.project_hamd:hover {
  cursor: pointer;
  background-image: radial-gradient(
      circle at 50% 0,
      #cc9fd8,
      rgba(0, 0, 0, 0) 80%
    ),
    radial-gradient(circle at 50% 0, #8a5387, rgba(0, 0, 0, 0));
}
.project_weatherApp:hover {
  cursor: pointer;
  background-image: radial-gradient(
      circle at 50% 0,
      rgba(127, 207, 255, 0.2),
      rgba(0, 0, 0, 0) 80%
    ),
    radial-gradient(circle at 50% 0, #035, rgba(0, 0, 0, 0));
}
.project_hamd {
  cursor: pointer;
  background-image: linear-gradient(#292828, #1a1919);
}
.project_weatherApp {
  cursor: pointer;
  background-image: linear-gradient(#292828, #1a1919);
}

@media (max-width: 1024px) {
  .project_hamd {
    background-image: radial-gradient(
        circle at 50% 0,
        #cc9fd8,
        rgba(0, 0, 0, 0) 80%
      ),
      radial-gradient(circle at 50% 0, #8a5387, rgba(0, 0, 0, 0));
  }
  .project_weatherApp {
    background-image: radial-gradient(
        circle at 50% 0,
        rgba(127, 207, 255, 0.2),
        rgba(0, 0, 0, 0) 80%
      ),
      radial-gradient(circle at 50% 0, #035, rgba(0, 0, 0, 0));
  }
}
.skill_Card:hover {
  .logo {
    transition: transform 0.2s;

    transform: translate(0, -9px);
  }
}
.logo {
  box-shadow: rgba(248, 248, 248, 0.384) 0px 1px 20px 0px,
    rgba(252, 249, 249, 0.06) 0px 0px 0px 0px;
}

.project_intro_heading {
  text-shadow: 0 0 5px #929090;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #121211;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #303030;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: grab;
}
::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}
/*hamd page*/
.highlights_container{
  box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 25px 0 20px -20px rgba(0, 0, 0, 0.45),
   0px 25px 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);

}
.live_project_btn:hover{
  box-shadow:  0 0px 10px 5px #d8d7d7b6,  /* inner white */
  0px 0px 15px 10px rgba(214, 214, 214, 0.363); /* outer cyan */
}
.serra:hover{
  box-shadow:  0 0px 10px 5px #adadadb6,  /* inner white */
  0px 0px 15px 10px rgba(214, 214, 214, 0.363); /* outer cyan */
}