#root {
  margin: 0;
  padding: 0;
  background-color: #121211;
  color: azure;
}

.animatePhrase1{
  text-shadow: 0 0 5px #929090;
}

.project_hamd:hover{
  cursor: pointer;
  background-image: radial-gradient(circle at 50% 0,#cc9fd8, rgba(0, 0, 0, 0) 80%), radial-gradient(circle at 50% 0,#8a5387, rgba(0, 0, 0, 0)); 
}
.project_weatherApp:hover{
  cursor: pointer;
  background-image: radial-gradient(circle at 50% 0, rgba(127, 207, 255, .2), rgba(0, 0, 0, 0) 80%), radial-gradient(circle at 50% 0, #035, rgba(0, 0, 0, 0)); 
}
.project_hamd{
  cursor: pointer;
  background-image: linear-gradient(#292828, #1a1919);
}
.project_weatherApp{
  cursor: pointer;
  background-image: linear-gradient(#292828, #1a1919);
}
 
@media (max-width:1024px) {
  .project_hamd{
    background-image: radial-gradient(circle at 50% 0,#cc9fd8, rgba(0, 0, 0, 0) 80%), radial-gradient(circle at 50% 0,#8a5387, rgba(0, 0, 0, 0)); 
  }
  .project_weatherApp{
    background-image: radial-gradient(circle at 50% 0, rgba(127, 207, 255, .2), rgba(0, 0, 0, 0) 80%), radial-gradient(circle at 50% 0, #035, rgba(0, 0, 0, 0)); 
  }
}
.skill_Card:hover{
  .logo{
  transition: transform 0.2s;

    transform: translate(0, -9px);
   
  }
  
}
.logo{
  box-shadow: rgba(248, 248, 248, 0.384) 0px 1px 20px 0px, rgba(252, 249, 249, 0.06) 0px 0px 0px 0px;
}


.project_intro_heading{
  text-shadow: 0 0 5px #929090;

}